body{
  background-color: #EBA17C;
}

h1{
  font-family: "Gill Sans", sans-serif;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  color: #5B819E;
}

#left-column{
  background-color: #EBA17C;
  color: #DDDDDD;
  font-size: 20px;
  font-family: "Gill Sans", sans-serif;
  font-weight: lighter;
  line-height: 2;
  margin-left: 40%;
  margin-right: 40%;

}

h2{
  font-family: "Gill Sans", sans-serif;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  color: #5B819E;
  font-size: 15px
}

ul{
  padding: 6%;
  padding-left: 3px;
  position: sticky;
  text-align:center;
  background-color: #D05C59;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

li{
  color: #D05C59
}

a:link {
    color: white; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #F4A460;
    background-color: transparent;
    text-decoration: none;
}