body{
	   text-rendering: optimizeLegibility;
     background-color: #ebc169;
   }

#title{
	font-family: 'Gugi', cursive;
	font-size: 2.5vw;
	text-align: center;
}


.button {
  padding: 20px 25px;
  font-family: 'Gugi', cursive;
  text-align: center;
}


#box1{
      background: #c67a7d;
      width: 25vw;
      margin: 10px;
      font-size: 3.5vw;

}

#box1:hover {
  background-color: #F97500;
  color: white;
}

#box2{
      width: 25vw;
      background: #d05c59;
      margin: 10px;
      font-size: 3.5vw;
}

#box2:hover {
  background-color: #F97500;
  color: white;
}

#box3{
      width: 25vw;
      background: #e7754e;
      margin: 10px;
      font-size: 3.5vw;
}

#box3:hover {
  background-color: #F97500;
  color: white;
}

#box4{
      width: 25vw;
      background: #f39c4e;
      margin: 10px;
      font-size: 3.5vw;
}

#box4:hover {
  background-color: #F97500;
  color: white;
}


a:link {
    color: black; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

