body {

    background-color: #D26E6E;
}

img {
    display: flex;
    position: center;
    animation-name: small;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    width: 400px;
    height: 400px;
    z-index: 0;
    /*padding: 10px;*/
}

.square {
    /*width: 200%;*/
}

.s1 {
    position: absolute;
    height: 620px;
    width: 620px;
    border: 5px solid bisque;
    transform: rotate(0deg);
    top: 0;
    right: 0;
    bottom: 5vw;
    left: 0;
    margin: auto;
    /*animation-name: small;*/
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.s2 {
    position: absolute;
    height: 600px;
    width: 600px;
    border: 5px solid bisque;
    transform: rotate(0deg);
    top: 0;
    right: 0;
    bottom: 5vw;
    left: 0;
    margin: auto;
    /*animation-name: small2;*/
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.s3 {
    position: absolute;
    height: 580px;
    width: 580px;
    border: 5px solid bisque;
    transform: rotate(0deg);
    top: 0;
    right: 0;
    bottom: 5vw;
    left: 0;
    margin: auto;
    /*animation-name: small3;*/
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.s4 {
    position: absolute;
    height: 560px;
    width: 560px;
    border: 5px solid bisque;
    transform: rotate(0deg);
    top: 0;
    right: 0;
    bottom: 5vw;
    left: 0;
    margin: auto;
    /*animation-name: small4;*/
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.s5 {
    position: absolute;
    height: 540px;
    width: 540px;
    border: 5px solid bisque;
    transform: rotate(0deg);
    top: 0;
    right: 0;
    bottom: 5vw;
    left: 0;
    margin: auto;
    /*animation-name: small5;*/
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.s6 {
    position: absolute;
    height: 520px;
    width: 520px;
    border: 5px solid bisque;
    transform: rotate(0deg);
    top: 0;
    right: 0;
    bottom: 5vw;
    left: 0;
    margin: auto;
    animation-name: small;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.s7 {
    position: absolute;
    height: 500px;
    width: 500px;
    border: 5px solid bisque;
    transform: rotate(0deg);
    top: 0;
    right: 0;
    bottom: 5vw;
    left: 0;
    margin: auto;
    /*animation-name: small7;*/
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.s8 {
    position: absolute;
    height: 480px;
    width: 480px;
    border: 5px solid bisque;
    transform: rotate(0deg);
    top: 0;
    right: 0;
    bottom: 5vw;
    left: 0;
    margin: auto;
    /*animation-name: small;*/
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.s9 {
    position: absolute;
    height: 460px;
    width: 460px;
    border: 5px solid bisque;
    transform: rotate(0deg);
    top: 0;
    right: 0;
    bottom: 5vw;
    left: 0;
    margin: auto;
    /*animation-name: small;*/
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.s10 {
    position: absolute;
    height: 440px;
    width: 440px;
    border: 5px solid bisque;
    transform: rotate(0deg);
    top: 0;
    right: 0;
    bottom: 5vw;
    left: 0;
    margin: auto;
    /*animation-name: small;*/
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.s11 {
    position: absolute;
    height: 420px;
    width: 420px;
    border: 5px solid bisque;
    transform: rotate(0deg);
    top: 0;
    right: 0;
    bottom: 5vw;
    left: 0;
    margin: auto;
    /*animation-name: small;*/
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.s12 {
    position: absolute;
    height: 400px;
    width: 400px;
    border: 5px solid bisque;
    transform: rotate(0deg);
    top: 0;
    right: 0;
    bottom: 5vw;
    left: 0;
    margin: auto;
    /*animation-name: small;*/
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.time-holder {
    font-family: 'Gugi', cursive;
    font-size: 1vw;
    padding-right: 3vw;
    text-align: right;
}

@keyframes small {
    0% {}

    8% {
        width: 477px;
        height: 477px;
    }

    16% {
        width: 434px;
        height: 434px;
    }

    24% {
        width: 391px;
        height: 391px;
    }

    32% {
        width: 348px;
        height: 348px;
    }

    40% {
        width: 305px;
        height: 305px;
    }

    48% {
        width: 262px;
        height: 262px;
    }

    56% {
        width: 219px;
        height: 219px;
    }

    64% {
        width: 176px;
        height: 176px;
    }

    72% {
        width: 133px;
        height: 133px;
    }

    80% {
        width: 90px;
        height: 90px;
    }

    88% {
        width: 47px;
        height: 47px;
    }

    100% {
        width: 4px;
        height: 4px;
    }


}

