
body {
  background-color: pink;
  font-family: arial;
  color: red;
  font-size: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

<div>
  <img src="assets/imgs/yin-yang.svg">
</div>


img {
  height:500px;
}

#yin-yang {
  height:500px;
  animation: yingyangSpin 5s ease-in-out infinite;
}


#yin-yang: hover {
  animation-play-state: paused;
  cursor: pointer;
}

@keyframes colorSwap {
	0% {
    fill: default;
  }
  
  100% {
    fill:#6d79cd;
  }
}

@keyframes fade{
	0% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }

}

#yin-yang path, #yin-yang circle{
	animation: colorSwap 5s ease-in infinite alternate;
}

@keyframes yingyangSpin{
	0% {
    transform: rotate(0turn);
  }
  
  100% {
    transform: rotate(1turn);
  }
}

